.page {
    display: grid;
    grid-template-areas: 
        "gnb gnb"
        "lnb content"
        "footer footer";
        grid-template-columns: 200px 1fr;
        grid-template-rows: auto 1fr auto;
        min-height: 100vh;
}

.gnb {
    grid-area: gnb;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px 20px;
}
.gnb .logo{
    font-size: 24px;
    font-weight: bold;
    margin-right: 30px;
}
.gnb ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}
.gnb ul li {
    margin-right: 20px;
}
.gnb a{
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    justify-content: space-between;
    width: 25px;
    height: 20px;
}
.hamburger div{
    background-color: white;
    height: 4px;
    width: 100%;
}

.lnb{
    grid-area: lnb;
    background-color: #f0f0f0;
    padding: 20px;
    height: 100%;
}
.lnb ul {
    list-style: none;
    padding: 0;
}
.lnb li{
    margin-bottom: 10px;
}
.lnb li a{
    color: #333;
    font-weight: bold;
    text-decoration: none;
}
.lnb li a:hover{
    color: #777777;
    font-weight: bold;
    text-decoration: underline;
}

.content{
    grid-area: content;
    padding: 20px;
}

.board {
    margin-bottom: 20px;
}
.board h3 {
    margin-bottom: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
th {
    background-color: #2196f3;
    color: white;
}

.footer {
    grid-area: footer;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

@media (max-width: 768px){
    .page{
        grid-template-areas:
            "gnb"
            "content"
            "footer";
        grid-template-columns: 1fr;
    }
    .lnb{
        display: none;
    }
    
    .hamburger{
        display: flex;
    }

    .gnb ul {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .gnb ul li {
        margin: 10px 0;
    }

    .gnb.active ul {
        display: flex;
    }
}
